<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('partials/navbar.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            background-color: #343a40; /* Color de fondo oscuro */
            color: white; /* Color del texto */
            padding-top: 70px; /* Añadir espacio al principio */
        }

        h1 {
            text-align: center; /* Centrar el título */
            margin-top: 20px; /* Espacio superior */
        }

        table {
            width: 80%; /* Ancho de la tabla */
            margin: 0 auto; /* Centrar la tabla */
            border-collapse: collapse; /* Colapsar los bordes de la tabla */
        }

        th, td {
            padding: 10px; /* Añadir espacio interno */
            border: 1px solid #dee2e6; /* Borde sólido */
        }

        th {
            background-color: #007bff; /* Color de fondo del encabezado */
            color: white; /* Color del texto del encabezado */
            text-align: center; /* Centrar el texto del encabezado */
        }

        td {
            text-align: center; /* Centrar el texto de las celdas */
        }

        .action_delete_pelicula, .action_delete_pelicula:hover {
            color: #dc3545; /* Color del enlace y al pasar el mouse */
            text-decoration: none; /* Quitar subrayado */
            cursor: pointer; /* Cambiar cursor al pasar por encima */
        }

        .action_delete_pelicula:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }
    </style>
</head>
<body>

<%- include('partials/navbar.html') %>

<h1><%= title %></h1>
<li class="nav-item">
    <a class="nav-link btn btn-primary" href="/peliculas">Volver</a>
</li>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Duración</th>
        <th>Premios</th>
        <th>Imagen</th>
        <th>Director</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (pelicula) { %>
        <tr>
            <td><%= pelicula.nombre %></td>
            <td><%= pelicula.duracion %></td>
            <td><%= pelicula.premios %></td>
            <td><img src="<%= pelicula.imagen %>" alt="" height="150px"></td>
            <td><%=  pelicula.director.nombre %></td>
            <td>
                <div>
                    <a href="#" data-pelicula-id="<%= pelicula.id %>" class="btn btn-danger action_delete_pelicula">Eliminar Película</a>
                </div>
                <a href="/peliculas/update/<%= pelicula.id %>" class="btn btn-secondary">Actualizar Película</a>
            </td>
        </tr>
    <% } else { %>
        <tr>
            <td colspan="6">Película eliminada correctamente</td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include('partials/footer.html') %>

<script>
    async function delete_pelicula(evt){
        evt.preventDefault(); // Detener el comportamiento por defecto
        let id = $(this).data('pelicula-id');
        try {
            await $.ajax({
                url: '/api/peliculas/'  + id,
                type: 'DELETE'
            });
            window.location.reload();
        } catch (e) {
            console.log('Error' + e.status + " " + e.statusText);
        }
    }

    $(document).ready(() =>{
        $('.action_delete_pelicula').click(delete_pelicula);
    });
</script>

</body>
<%- include('partials/footer.html') %>
</html>
