<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/equipos.css'/>
    <%- include('partials/navbar.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1> Detalles del Director</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nacionalidad</th>
        <th>Genero</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (director) { %>
        <tr>
            <td><%= director._id %></td>
            <td><%= director.nombre %></td>
            <td><%= director.nacionalidad %></td>
            <td><%= director.genero %></td>
            <td><%= director.imagen %></td>
            <td>
                <a href="/directores" data-director-id="<%= director.id%>" class="action_delete_director">Eliminar</a>
                <a href="/directores/update/<%= director.id %>" >Actualizar</a>
            </td>
        </tr>
    <% } else { %>
        <tr>
            <td colspan="7">No se encontró el director</td>
        </tr>
        <tr>
            <td colspan="6">No se encontraron directores</td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>
    async function delete_director(evt){
        evt.preventDefault();
        let id = $(this).data('director-id');
        try {
            await $.ajax({
                url: '/api/directores/'  + id,
                type: 'DELETE'
            });
            window.location.reload();

        } catch (e) {
            console.log('Error' + e.status + " " + e.statusText);
        }
    }

    $(document).ready(() =>{
        $('.action_delete_director').click(delete_director);
    });
</script>

</body>
<%- include('partials/footer.html') %>
</html>