<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/pilotos.css'/>
    <%- include('partials/navbar.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1> Detalles de la pelicula</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Duracion</th>
        <th>Premios</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (pelicula) { %>

        <tr>
            <td> <%= pelicula._id %> </td> <!-- Cambio aquí -->
            <td> <%= pelicula.nombre %></td>
            <td> <%= pelicula.duracion %></td>
            <td> <%= pelicula.premios %></td>
            <td><img src="<%= pelicula.imagen %>" alt="" height="150px"></td>
            <td>
                <a href="#" data-pelicula-id="<%= pelicula._id %>" class="action_delete_pelicula">Eliminar</a> <!-- Cambio aquí -->
                <a href="/peliculas/update/<%= pelicula._id %>" >Actualizar</a> <!-- Cambio aquí -->
            </td>
        </tr>

    <% } else { %>
        <tr>
            <td colspan="8">No se encontró la pelicula</td>
        </tr>
    <% } %>

    </tbody>
</table>

<script>
    async function delete_pelicula(evt){
        evt.preventDefault(); // Detener el comportamiento por defecto
        let id = $(this).data('pelicula-id');
        try {
            await $.ajax({
                url: '/api/peliculas/'  + id, <!-- Cambio aquí -->
                type: 'DELETE'
            });
            window.location.reload();

        } catch (e) {
            console.log('Error' + e.status + " " + e.statusText);
        }
    }

    $(document).ready(() =>{
        $('.action_delete_pelicula').click(delete_pelicula());
    });
</script>

</body>
<%- include('partials/footer.html') %>
</html>
