<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/equipos.css'/>
    <%- include('partials/navbar.html') %>
    <style>
        body {
            background-color: #343a40; /* Color de fondo oscuro */
            color: white; /* Color del texto */
            padding-top: 70px; /* Añadir espacio al principio */
        }

        h1 {
            text-align: center; /* Centrar el título */
            margin-top: 20px; /* Espacio superior */
        }

        table {
            width: 80%; /* Ancho de la tabla */
            margin: 0 auto; /* Centrar la tabla */
            border-collapse: collapse; /* Colapsar los bordes de la tabla */
        }

        th, td {
            padding: 10px; /* Añadir espacio interno */
            border: 1px solid #dee2e6; /* Borde sólido */
        }

        th {
            background-color: #007bff; /* Color de fondo del encabezado */
            color: white; /* Color del texto del encabezado */
            text-align: center; /* Centrar el texto del encabezado */
        }

        td {
            text-align: center; /* Centrar el texto de las celdas */
        }

        .action_delete_director, .action_delete_director:hover {
            color: #dc3545; /* Color del enlace y al pasar el mouse */
            text-decoration: none; /* Quitar subrayado */
            cursor: pointer; /* Cambiar cursor al pasar por encima */
        }

        .action_delete_director:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }
    </style>
</head>
<body>

<%- include('partials/navbar.html') %>

<h1><%= title %></h1>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link btn btn-primary" href="/directores">Volver</a>
    </li>

</ul>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Nacionalidad</th>
        <th>Género</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (director) { %>
        <tr>
            <td><%= director.nombre %></td>
            <td><%= director.nacionalidad %></td>
            <td><%= director.genero %></td>
            <td><img src="<%= director.imagen %>" alt ="" height="150px"></td>
            <td>
                <div>
                <a href="# " data-director-id="<%= director.id %>" class="btn btn-danger action_delete_director">Eliminar Director</a>
                </div>
                <a href="/directores/update/<%= director.id %>" class="btn btn-secondary">Actualizar</a>
            </td>
        </tr>
    <% } else { %>
        <tr>
            <td colspan="6">No se encontró el director</td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include('partials/footer.html') %>

<script>
    async function delete_director(evt){
        evt.preventDefault();
        let id = $(this).data('director-id');
        try {
            await $.ajax({
                url: '/api/directores/'  + id,
                type: 'DELETE'
            });
            window.location.reload();

        } catch (e) {
            console.log('Error' + e.status + " " + e.statusText);
        }
    }

    $(document).ready(() =>{
        $('.action_delete_director').click(delete_director);
    });
</script>

</body>
</html>
