<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/equipos.css'/>
    <%- include('partials/navbar.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1> Lista de Directores</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Nacionalidad</th>
        <th>Genero</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (Array.isArray(directores)) { %>
        <% directores.forEach(function(director) { %>
            <tr>
                <td><%= director.id %></td>
                <td><%= director.nombre %></td>
                <td><%= director.nacionalidad %></td>
                <td><%= director.genero %></td>
                <td><%= director.imagen %></td>
                <td>
                    <a href="#" data-director-id="<%= director.id%>" class="action_delete_director">Delete</a>
                    <a href="/directores/update/<%= director.id%>" >Update</a>
                    <a href="/directores/detalles/<%=director.id%>">Detalles</a>
                </td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="6">No se encontraron directores</td>
        </tr>
    <% } %>
    <tr>

    </tr>
    </tbody>
</table>

<script>
    async function delete_director(evt){
        evt.preventDefault() // no sigas tu comportamiento por defecto
        let id = $(this).data('director-id')
        try {
            await $.ajax({
                url: '/api/directores/'  + id,
                type: 'DELETE'
            })
            window.location.reload()

        }catch (e) {
            console.log(e)
            console.log('Error' + e.status + " " + e.statusText)
        }
    }

    $(document).ready(() =>{
        document.getElementsByClassName('action_delete_director')
        $('.action_delete_director').click(delete_director())
    });
</script>

</body>
<%- include('partials/footer.html') %>
</html>