<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        body {
            background-color: #343a40; /* Cambiar el color de fondo */
            color: white; /* Cambiar el color del texto */
            padding-top: 70px; /* Añadir espacio al principio */
        }

        table {
            width: 100%; /* Hacer la tabla ocupar todo el ancho */
            border-collapse: collapse; /* Colapsar los bordes de la tabla */
        }

        th, td {
            padding: 8px; /* Añadir espacio interno */
            text-align: left; /* Alinear el texto a la izquierda */
            border-bottom: 1px solid #555; /* Añadir borde inferior */
        }

        th {
            background-color: #212529; /* Cambiar el color de fondo de las cabeceras */
        }

        img {
            border-radius: 10px; /* Agregar borde redondeado a las imágenes */
            height: 150px; /* Definir la altura de las imágenes */
            object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
        }

        .btn {
            margin-right: 5px; /* Añadir espacio entre los botones */
        }
    </style>
</head>

<body>

<%- include('partials/navbar.html') %>

<h1 class="text-center mt-5">Lista de Directores</h1>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link btn btn-primary" href="/">Volver al Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-success" href="/peliculas">Ir a Películas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-success" href="/directores/insert">Insertar director</a>

    </li>
</ul>

<table class="mt-3">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Nacionalidad</th>
        <th>Género</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% if (Array.isArray(directores)) { %>
        <% directores.forEach(function(director) { %>
            <tr>
                <td><%= director.nombre %></td>
                <td><%= director.nacionalidad %></td>
                <td><%= director.genero %></td>
                <td><img src="<%= director.imagen %>" alt=""></td>
                <td>
                    <a href="/directores/detalles/<%= director.id %>" class="btn btn-secondary">Detalles del director</a>
                </td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="6">No se encontraron directores</td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include('partials/footer.html') %>

</body>

</html>
