
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/pilotos.css'/>
    <%- include('partials/navbar.html') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1> Lista de Peliculas</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Duracion</th>
        <th>Premios</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% peliculas.forEach( function (peliculas){ %>

        <tr>
            <td> <%= peliculas.id %> </td>
            <td> <%= peliculas.nombre %></td>
            <td> <%= peliculas.duracion %></td>
            <td> <%= peliculas.premios %></td>
            <td><img src="<%= peliculas.imagen %>" alt="" height="150px"></td>
            <td>
                <a href="#" data-pelicula-id="<%= peliculas.id%>" class="action_delete_pelicula">Delete</a>
                <a href="/peliculas/update/<%= peliculas.id%>" >Update</a>
                <a href="/peliculas/detalles/<%= peliculas.id%>">Detalles</a>
            </td>

        </tr>
    <% } ) %>

    </tbody>
</table>

<script>
    async function delete_pelicula(evt){
        evt.preventDefault() // no sigas tu comportamiento por defecto
        let id = $(this).data('pelicula-id')
        try {
            await $.ajax({
                url: '/api/peliculas/'  + id,
                type: 'DELETE'
            })
            window.location.reload()

        }catch (e) {
            console.log(e)
            console.log('Error' + e.status + " " + e.statusText)
        }
    }

    $(document).ready(() =>{
        document.getElementsByClassName('action_delete_pelicula')
        $('.action_delete_pelicula').click(delete_pelicula())
    });
</script>

</body>
<%- include('partials/footer.html') %>
</html>
