<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <style>
        body {
            background-color: #343a40;
            color: white;
            padding-top: 70px;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        form {
            width: 60%;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="submit"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
            background-color: #495057; +
            color: white;
            border: none;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<h1>Actualizar Ítem</h1>
<li class="nav-item">
    <a class="nav-link btn btn-primary" href="/directores">Volver</a>
</li>

<form action="/directores/update" method="POST">

    <input id="_id" type="hidden" name="_id" value="<%= item._id %>">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value="<%= item.nombre %>">

    <label for="nacionalidad">Nacionalidad</label>
    <input id="nacionalidad" type="text" name="nacionalidad" value="<%= item.nacionalidad %>">

    <label for="genero">Género</label>
    <input id="genero" type="text" name="genero" value="<%= item.genero %>">

    <label for="imagen">Imagen</label>
    <input id="imagen" type="text" name="imagen" value="<%= item.imagen %>" pattern="https://.*" title="La URL debe comenzar con https://">

    <input type="submit" value="Actualizar">
</form>

</body>
</html>
