<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <%- include('partials/navbar.html') %>
</head>
<body>
<h1> UPDATE ITEM</h1>
<form action="/directores/update" method="POST">

    <input id="_id" type="hidden" name="_id" value="<%= item._id%>">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value="<%= item.nombre%>" >

    <label for="nacionalidad">nacionalidad</label>
    <input id="nacionalidad" type="text" name="nacionalidad" value="<%= item.nacionalidad%>" >

    <label for="genero">genero</label>
    <input id="genero" type="text" name="genero" value="<%= item.genero%>" >

    <label for="iamgen">imagen</label>
    <input type="imagen" id="iamgen" value="<%= item.imagen%>">

    <input type="submit" value="update">
</form>
</body>
<%- include('partials/footer.html') %>
</html>