<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <style>
        body {
            background-color: #343a40;
            color: white;
            padding-top: 70px;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        form {
            width: 60%;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-top: 10px;
            color: #ffffff;
        }

        input[type="text"],
        input[type="submit"],
        select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        input[type="text"],
        select {
            background-color: white;
            color: #495057;
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 8px;
            margin-top: 5px;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>

<h1>Actualizar ítem</h1>
<li class="nav-item">
    <a class="nav-link btn btn-primary" href="/peliculas">Volver</a>
</li>

<form action="/peliculas/update" method="POST" id="updateForm">
    <label for="director">Director</label>
    <select class="option-bar" id="director" name="director">
        <% directores.forEach((director) =>{ %>
            <option value="<%= director.id %>" <% if (director.id === pelicula.director) { %> selected <% } %>><%= director.nombre %></option>
        <% }); %>
    </select>

    <input id="_id" type="hidden" name="_id" value="<%= pelicula._id %>">

    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value="<%= pelicula.nombre %>">

    <label for="duracion">Duración</label>
    <input id="duracion" type="text" name="duracion" value="<%= pelicula.duracion %>">

    <label for="premios">Premios</label>
    <input id="premios" type="text" name="premios" value="<%= pelicula.premios %>">

    <label for="imagen">Imagen</label>
    <input id="imagen" type="text" name="imagen" value="<%= pelicula.imagen %>" pattern="https://.*" title="La URL debe comenzar con https://">

    <input type="submit" value="Actualizar">
</form>

<script>
    function confirmUpdate() {
        let confirmacion = confirm("¿Estás seguro de que quieres actualizar este piloto?");
        if (confirmacion) {
            document.getElementById("updateForm").submit();
        }
    }
</script>
</body>
</html>
