<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <%- include('partials/navbar.html') %>
    <style>

        body {
            background-color: #343a40; /* Color de fondo oscuro */
            color: white; /* Color del texto */
            padding-top: 70px; /* Añadir espacio al principio */
        }

        h1 {
            text-align: center; /* Centrar el título */
            margin-top: 20px; /* Espacio superior */
        }

        form {
            width: 60%; /* Ancho del formulario */
            margin: 0 auto; /* Centrar el formulario */
        }

        label {
            display: block; /* Mostrar las etiquetas en bloques */
            margin-top: 10px; /* Espacio superior */
        }

        input[type="text"],
        input[type="submit"] {
            width: 100%; /* Ancho completo */
            padding: 8px; /* Añadir espacio interno */
            margin-top: 5px; /* Espacio superior */
            box-sizing: border-box; /* Incluir el padding en el ancho total */
        }

        input[type="submit"] {
            background-color: #007bff; /* Color de fondo del botón */
            color: white; /* Color del texto del botón */
            border: none; /* Quitar borde */
            cursor: pointer; /* Cambiar cursor al pasar por encima */
        }

        input[type="submit"]:hover {
            background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
        }

        input[type="text"] {
            background-color: white; /* Color de fondo blanco para los campos de texto */
            color: #495057; /* Color del texto en los campos de texto */
            border: 1px solid #ced4da; /* Añadir un borde a los campos de texto */
            border-radius: 4px; /* Agregar bordes redondeados a los campos de texto */
            padding: 8px; /* Añadir espacio interno */
            margin-top: 5px; /* Espacio superior */
            width: 100%; /* Ancho completo */
            box-sizing: border-box; /* Incluir el padding en el ancho total */
        }
    </style>
</head>

<body>


<%- include('partials/navbar.html') %>

<h1><%= title %></h1>
<li class="nav-item">
    <a class="nav-link btn btn-primary" href="/peliculas">Volver</a>
</li>


<form action="/peliculas/update" method="POST">

    <input id="id" type="hidden" name="id" value="<%= peliculas.id %>">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" value="<%= peliculas.nombre %>">

    <label for="duracion">Duración</label>
    <input id="duracion" type="text" name="duracion" value="<%= peliculas.duracion %>" >

    <label for="premios">Premios</label>
    <input id="premios" type="text" name="premios" value="<%= peliculas.premios %>" >

    <label for="imagen">Imagen</label>
    <input id="imagen" type="text" name="imagen" value="<%= peliculas.imagen %>" >

    <input type="submit" value="Actualizar">
</form>

<%- include('partials/footer.html') %>

</body>
</html>
